#description {
	background: transparent;
	border: 0;
	box-shadow: none;
}

#description .hndle,
#description .handlediv {
	display: none;
	visibility: hidden;
}

#description h1 {
	line-height: 1.5em;
}
